body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.center {
    position: relative;
    top: 30%;
    left: 20%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.button{
    position: relative;
    top: 30%;
}

.search {
    position: absolute;
    left: 20%;
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.center form {
    display: flex; /* Aligns input and button side by side */
    align-items: center; /* Ensures vertical alignment */
    width: 100%;
    justify-content: center;
}

.center input[type="text"] {
    height: 8vh;
    width: 100%;
    padding: 1.5% 2%;
    font-size: 2vw;
    box-sizing: border-box; /* Prevents padding from affecting width/height */
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px; /* Rounded corners on the left side */
}

.center button {
    height: 8vh;
    padding: 0 3%;
    font-size: 2vw;
    border: 1px solid hsl(189, 39%, 49%);
    background-color: hsl(189, 39%, 49%);
    color: white;
    border-radius: 0 5px 5px 0; /* Rounded corners on the right side */
    display: flex;
    align-items: center;
    justify-content: center;
}

.center button i {
    font-size: 2.5vw;
}