body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(148, 148, 145);
}

.center {
    position: absolute;
    top: 50%;
    width: 100%;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
