body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.center {
    position: relative;
    top: 30%;
    left: 20%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.eng-to-asl-button {
    position: absolute;
    top: 30%;
    left: 55%;
}

.eng-to-asl-button button {
    height: 5vh; /* Adjust the height as needed */
    width: 15vw; /* Adjust the width as needed */
    font-size: 1.5vw; /* Adjust the font size as needed */
}

.asl-to-eng-button {
    position: absolute;
    height: 5vh; /* Adjust the height as needed */
    width: 15vw; /* Adjust the width as needed */
    top: 30%;
    left: 60%;
}

.search {
    position: absolute;
    left: 20%;
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center form {
    display: flex; /* Aligns input and button side by side */
    align-items: center; /* Ensures vertical alignment */
    width: 100%;
    justify-content: center;
}

.center input[type="text"] {
    height: 8vh;
    width: 100%;
    padding: 1.5% 2%;
    font-size: 2vw;
    box-sizing: border-box; /* Prevents padding from affecting width/height */
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px; /* Rounded corners on the left side */
}

.center button {
    height: 8vh;
    padding: 0 3%;
    font-size: 2vw;
    border: 1px solid hsl(189, 39%, 49%);
    background-color: hsl(189, 39%, 49%);
    color: white;
    border-radius: 0 5px 5px 0; /* Rounded corners on the right side */
    display: flex;
    align-items: center;
    justify-content: center;
}

.center button:hover {
    background-color: hsl(189, 39%, 39%);
}



.center button i {
    font-size: 2.5vw;
}