body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: rgb(92, 92, 92);
}

button {
    border: 0px solid #000; /* Black border */
    border-radius: 5px 5px 5px 5px; /* Rounded corners */
    padding: 10px 20px; /* Padding */
    margin: 5px; /* Margin */
    background-color: hsl(0, 0%, 35%); /* Background color */
    color: #ffffff; /* Text color */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0px 3px 7px rgb(128, 136, 138);
}

.description {
    position: relative;
    top: 2%;
    font-size: 90%;
}

.description p {
    margin: 1vh;
    padding: 0;
}

a:link {
    color: rgb(37, 37, 37);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(37, 37, 37);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(37, 37, 37);
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: rgb(37, 37, 37);
    background-color: transparent;
    text-decoration: none;
}

.results_area {
    background-color: rgb(235, 235, 235);
    border: 1px solid #666666;
    position: absolute;
    top: 45%;
    left: 25%;
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 3px 7px rgb(128, 136, 138);
}

.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 18px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.sign button {
    border: 0px solid #000; /* Black border */
    border-radius: 5px 5px 5px 5px; /* Rounded corners */
    padding: 10px 20px; /* Padding */
    margin: 5px; /* Margin */
    background-color: hsl(0, 0%, 39%); /* Background color */
    color: #ffffff; /* Text color */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0px 3px 7px rgb(128, 136, 138);
}

.sign button:hover {
    background-color: #39718b; /* Background color on hover */
    color: #fff; /* Text color on hover */
}

.sign {
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
}

.entry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh 0;
}

img {
    position: relative;
    height: 40%; 
    top: 0%
}

.header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: hsl(0, 0%, 15%);
    box-shadow: 0px 5px 10px rgb(128, 136, 138);
}

.panel {
    position: relative;
    background-color: rgb(204, 204, 204);
    top: 11vh;
    width: 60%;
    height: 77vh;
    padding-bottom: 5vh;
    color: rgb(0, 0, 0);
    bottom: 5vh;
    box-shadow: 0px 5px 10px rgb(128, 136, 138);
}

.searchOne {
    position: absolute;
    left: 50.5%;
    top: 36%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

.searchTwo {
    position: absolute;
    left: 50%;
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

.searchOne form {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.searchOne input[type="text"] {
    height: 8vh;
    width: 100%;
    padding: 1.5% 2%;
    font-size: 2vw;
    box-sizing: border-box; /* Prevents padding from affecting width/height */
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px; /* Rounded corners on the left side */
}

.search-button button {
    position: absolute;
    height: 7vh;
    width: 13%;
    font-size: 2vw;
    top: 20.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    border: 2px solid #000; /* Black border */
    background-color: hsl(0, 0%, 22%); /* Change the background color as needed */
    border-radius: 5px 5px 5px 5px;
    color: white; /* Change the text color as needed */
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px; /* Adjust the font size as needed */
}

.search-button h2 {
    position: absolute;
    top: 14%;
    left: 50.5%;
    color:rgb(83, 83, 83);
    transform: translate(-50%, -50%);
    font-size: 2vh;
}

button:hover {
    background-color: hsl(189, 49%, 33%); /* Change the hover background color as needed */
}

.searchTwo button {
    position: absolute;
    height: 7.22vh;
    width: 12.5vw;
    font-size: 2vw;
    top: -179%;
    left: 70%;
    transform: translate(-50%, -50%);
    display: inline-block;
    background-color: hsl(189, 39%, 49%); /* Change the background color as needed */
    border-radius: 5px 5px 5px 5px;
    color: white; /* Change the text color as needed */
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px; /* Adjust the font size as needed */
}

.searchTwo button:hover {
    background-color: hsl(189, 49%, 33%); /* Change the hover background color as needed */
}

.header h1 {
    position: relative;
    font-size: 7vh;
    color: rgb(255, 255, 255);
    margin: 0;
}

.mode {
    position: absolute;
    top: 20%;
    left: 35%;
    width: 50%;
}

.mode select{
    height: 7vh;
    font-size: 1.8vw;
}

.center button i {
    font-size: 2.5vw;
}

.form-group {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
}

.form-group label {
    text-align: right;
    padding-right: 10px;
}

.form-group select {
    width: 200px; /* Adjust the width as needed */
}